body {
    background-image: url('./images/background.jpg');
    font-family: dlxfont;
}
@font-face{
    font-family: dlxfont;
    src: url('./fonts/dlxfont.ttf');
}
.container {
    display: flex;
    justify-content: center;
}

.btn:focus {
    outline: none;
}

td {
    padding: 0;
}

img {
    display: block;
}