body{
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
}

.btn:focus {
    outline: none;
}

td {
    padding: 0;
}

img {
    display: block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    text-align: center;
    padding: 0px 12px;
    z-index: 100;
    position: absolute;
}

.tooltip:hover .tooltip-text {
    visibility: visible;

}